*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6, li, p{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.z-index{
    z-index: 999;
}
/*==========COMMON CSS END==========*/
/*==========BANNER PART START==========*/
#banner{
    background-color: rgb(0, 0, 0);
}
/* .banner-img{
    width: 380px;
} */
.banner-img img{
    max-width: 100%;
}
.banner-text h1{
    color: #FF5E19;
    font-size: 70px;
}
/*==========BANNER PART END==========*/
/*==========MAIN PART START==========*/
#main-part{
    background-color: #434343;
}
.card-part{
    border: 2px solid #434343;
    border-radius: 5px;
}
.card-part .football-player{
    height: 30vh;
    object-fit: cover;

}
.card-body{
    background-color: #0D0D0D;
}
.selected-player-part{
    background-color: #0D0D0D;
}
.budget-part{
    background-color: #0D0D0D;
}
.common-p{
    color: #AFAFAF;
}
.player_Expense{
    color: #FF5E19;
}
.common-input{
    background-color: #0D0D0D;
    border: 1px solid #FFFFFF;
}
.calculate-part{
    background-color: #015196;
}
.total-balance{
    color: #FF5E19;
}
#total{
    color: #FF5E19;
}
/*==========MAIN PART END==========*/
/*==========FOOTER PART START==========*/
footer{
    background-color:#0D0D0D;
}
/*==========FOOTER APRT END==========*/